<?xml version="1.0" ?>

<!--Name of the robot: pan_tilt-->
<robot name="ar_mark">
    <!--First link: the base_link-->
    <link name="ar_link">
    	<inertial>
    	    <origin xyz="1 0 0" rpy="0 1.57 3.14"/>
            <mass value="1"/>
            <inertia ixx="0.074" ixy="0.0" ixz="0.0" iyy="0.06" iyz="0.0" izz="0.03"/>
        </inertial>
        <collision>
            <origin rpy="0 1.57 3.14" xyz="1 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
        </collision>     
        
        <!--Grahical shape -->
        <visual>
            <origin rpy="0 1.57 3.14" xyz="1 0 0"/>
            <geometry>
                <mesh filename="package://kvaradrive/urdf/artag2.dae" scale="1 1 1"/>
            </geometry>
        </visual>
    </link>
    
    <gazebo reference="simple_box_base_link">
    	<kp>100000.0</kp>
    	<kd>100000.0</kd>
    	<mu1>0.1</mu1>
    	<mu2>0.1</mu2>
    	<fdir1>1 0 0</fdir1>
    </gazebo>
    	
   </robot>


	
